{% load math %}

<div class="comment">
  <span class="comment__username">{{ comment.user.username }}</span>
  {% if comment.rating %}
    <span class="comment__rating">
      {% with ''|center:comment.rating as range %}
          {% for _ in range %}
              &#9733;
          {% endfor %}
      {% endwith %}
      {% with 5|minus:comment.rating as empty_stars%}
          {% with ''|center:empty_stars as range %}
              {% for _ in range %}
                  &#9734;
              {% endfor %}
          {% endwith %}
      {% endwith %}


    </span>
  {% endif %}
  <p class="comment__date">{{ comment.created_at }}</p>
  <p class="comment__text">{{ comment.text }}</p>
</div>
