<nav class="navigation">
    <ul class="menu">
        {% for category in categories %}
                <li>
                    <a href="#">{{ category.name }}</a>
                    <div class="dropdown__list">
                        <ul>
                            {% for subcategory in category.subcategory_set.all %}
                                    <li><a href="#">{{ subcategory.name }}</a></li>
                            {% endfor %}
                            
                        </ul>
                    </div>
                </li>
        {% endfor %}   
    </ul>
</nav>