{% load static %}
<div class="product">
  <div class="product__image">
    <img src="{{ product.get_image_url }}" alt="" srcset="" />
  </div>
  <div class="products__title">
    <a href="{{ product.get_absolute_url }}">
      <h3>{{ product.name|truncatechars:50 }}</h3>
    </a>
  </div>
  {% if product.format %}
        <div class="products__quantity">
          {{ product.format }}
        </div>
  {% endif %}

  <div class="products__price">
      {{ product.price }} руб
  </div>
  <div class="products__basket">
    <a href="#">В КОРЗИНУ</a>
  </div>
</div>
