{% extends 'base.html' %}
{% load static %}
{% load price_calculating %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock styles %}

{% block content %}

<div class="container">
  <h1>Корзина</h1>
  {% if cart_items %}
      {% if not user.is_authenticated %}
          <!-- TODO: Красный фон с яркой красной обводкой -->
          <div class="anonym-warning">
            Войдите, чтобы ваша корзина не пропала.
            Срок хранения корзины без авторизации 7 дней.
          </div>
      {% endif %}
      
      <div class="cart">
        <div class="cart__wrapper">
          {% for item in cart_items %}
            <div class="cart__products">
                <div class="item">
                    <div class="item__image">
                        <img src="{{ item.product.get_image_url }}" alt="Продукт" width="150">
                    </div>
                    <div class="wrap">
                        <div class="item__title">
                            <a href="{% url 'products:product_page' item.product.name %}">{{ item.product.name }}</a>
                        </div>
                        <div class="item__format">
                            <p>Формат: {{ item.product.format }}</p>
                        </div>
                    </div>
                    <div class="count__wrap">
                       <div class="count__box">
                            <div class="count__minus">
                                <a onclick="changeItemCount({{ item.product.pk }}, '-');">-</a>
                            </div>
                            <div class="count__items">
                                {{ item.count }}
                            </div>
                            <div class="count__plus">
                                <a onclick="changeItemCount({{ item.product.pk }}, '+');">+</a>
                            </div>
                       </div>
                       <div class="box">
                            <div class="favorite">
                                <p>В избранное</p>
                            </div>
                            <div class="remove">
                                <p onclick="deleteItem({{ item.product.pk }});">Убрать</p>
                            </div>
                        </div>
                    </div>
                    <div class="item__price">
                        <p>{{ item.product.price | mul:item.count }}</p>
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
        <div class="cart__total">
            <div class="total__wrapper">
                <div class="total__box">
                    <div class="total">
                        <h2>Итого</h2>
                    </div>
                    <div class="total__price">
                        {{ total_price }}
                    </div>
                </div>
                <div class="total__box">
                    <div class="total">
                        <p>Товары, {{ item.count }} шт.</p>
                    </div>
                    <div class="total__price">
                        {{ total_price }}
                    </div>
                </div>
                <button class="order-button">Заказать</button>
            </div>
        </div>
    </div>
  {% else %}
      <div>Ваша корзина пока что пуста...</div>
  {% endif %}
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/cart.js' %}" data-change-count-url="{% url 'cart:change_item_count' %}"
  data-delete-url="{% url 'cart:delete_item' %}" data-csrf="{{ csrf_token }}"></script>
{% endblock content %}
