{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock styles %}
{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block inner %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
  <p>
    {% translate "Please sign in with one of your existing third party accounts:" %}
    {% if ACCOUNT_ALLOW_REGISTRATION %}
      {% blocktranslate trimmed %}
        Or, <a href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:
      {% endblocktranslate %}
    {% endif %}
  </p>

  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% translate "or" %}</div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

{% endif %}

<div class="container">
  <div class="sidebar">
      <div class="sidebar__breadcrumbs">
          <h3>Главная > Авторизация</h3>
      </div>
      <div class="sidebar__image">
          <img src="{% static 'images/bg_auth.png' %}" alt="cosmetic face picture">
      </div>
  </div>
  <div class="box">
      <div class="title">
          <div class="title__line"></div>
          <div class="title__text">Авторизация</div>
          <div class="title__line"></div>
      </div>
      <div class="authorization">
        <form class="auth-form" method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.login }}
            {{ form.password }}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            <div class="auth-form__recover">
                <a href="{% url 'account_reset_password' %}">{% translate "Восстановить пароль" %}</a>
            </div>
            <div class="auth-form__button">
              <input type="submit" value="Авторизоваться">
            </div>
        </form>
        <div class="authorization__register-link">
          Если у Вас нет аккаунта то <a href="{% url 'account_signup' %}">{% translate "Зарегистрироваться" %} </a>
        </div>
        <div class="errors" style="display: flex; justify-content: center; align-items: center;" >
            {% if form.non_field_errors %}
              <ul style="list-style: none; text-align: center;">
                {% for error in form.non_field_errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
        </div>
      </div>
  </div>
</div>

{% endblock %}