{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block styles %} <link rel="stylesheet" href="{% static 'css/password_reset.css' %}"> {% endblock %}
{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block inner %}

    <h1 class="title">{% translate "Password Reset" %}</h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="forgotten-password">{% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <div class="wrapper">
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {% for field in form %}
                {{ field }}
            {% endfor %}
            <input class="btn btn-primary" type="submit" value="{% translate 'Reset My Password' %}" />
        </form>
    </div>

    <p class="contacts">{% blocktranslate %}Please contact us if you have any trouble resetting your password.{% endblocktranslate %}</p>
{% endblock %}
