{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block styles %} <link rel="stylesheet" href="{% static 'css/password_done.css' %}"> {% endblock %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block inner %}
    <h1>{% translate "Password Reset" %}</h1>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktranslate %}Мы отправили вам электронное письмо. Пожалуйста, свяжитесь с нами, если вы не получили его в течение нескольких минут.{% endblocktranslate %}</p>
{% endblock %}
