{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock styles %}

{% block head_title %}{% translate "Signup" %}{% endblock %}

{% block inner %}
<div class="container">
    <div class="content">
        <div class="content__breadcrumbs">
            <h3>Главная > Регистрация</h3>
        </div>
        <div class="content__image">
            <img src="{% static 'images/bg_auth2.png' %}" alt="cosmetic face picture">
        </div>
    </div>
    <div class="wrapper">
        <div class="registration">
            <div class="registration__title">
                <div class="line"></div>
                <div class="registration__title-text">
                    Регистрация
                </div>
                <div class="line"></div>
            </div>
            <div class="registration__reg">
                <div class="registration__reg-form">
                    <form method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                            <li>{{ error | lower }}</li>
                            {% endfor %}
                        {% endif %}
                        {{ form.email }}
                        {% for error in form.email.errors %}
                                <p class="field-error">{{ error }}</p>
                        {% endfor %}
                        {{ form.password1 }}
                        {% for error in form.password1errors %}
                                <p class="field-error">{{ error }}</p>
                        {% endfor %}
                        {{ form.password2 }}
                        {% for error in form.password2.errors %}
                                <p class="field-error">{{ error }}</p>
                        {% endfor %}

                        {% for field in form %}
                        {% if field.name not in "password1,password2,email" %}
                        
                                {% for error in field.errors %}
                                    <p class="field-error">{{ error }}</p>
                                {% endfor %}
                                {% if field.name == 'date_of_birth' %}
                                    {{ field.label_tag }}
                                    <div class="selected-birth-day">
                                        {{ form.date_of_birth }}
                                    </div>
                                {% else %}
                                    {{ field }}
                                {% endif %}
                        {% endif %}     
                        {% endfor %}
                            <!-- {{ form.username }}
                            {{ form.password1 }}
                            {{ form.password2 }}
                            {{ form.email }}
                            {{ form.phone_number }}
                            {{ form.first_name }}
                            {{ form.last_name }}
                            {{ form.city }} -->
                    
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="registration__reg-button">
                            <input type="submit" value="Создать личный кабинет">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
