.container {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    background-color: var(--bg-color);
}
.sidebar {
    width: 100%;
    height: calc(100vh - 100px);
}
.sidebar__breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar__breadcrumbs > h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--background-color);
}
.sidebar__image {
    margin: 0 5px 0 5px;
}
.sidebar__image > img {
    width: 100%;
    height: 550px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: var(--background-color);
}
.title {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title__text {
    width: 20%;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
}
.title__line {
    margin: 0 38px 0 38px;
    width: 100%;
    height: 2px;
    background-color: var(--bg-color);
}
.authorization {
    margin: 0 38px 0 38px;
}
.auth-form {
    display: flex;
    flex-direction: column;
}
.auth-form > input {
    height: 45px;
    margin: 32px 0 0 0;
    padding-left: 11px;
    border: 1px solid var(--bg-color);
    background-color: var(--background-color);
    color: var(--bg-color);
    border-radius: 5px;
    outline: none;
}
.auth-form > input::placeholder {
    color: var(--bg-color);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--bg-white-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
    transition: background-color 5000s ease-in-out 0s;
}
.auth-form__recover {
    display: flex;
    justify-content: right;
    margin: 14px 0 0 0;
    font-size: 16px;
}
.auth-form__recover > a {
    color: var(--bg-color);
}
.auth-form__recover > a:hover {
    color: #fff;
}
.authorization__register-link {
    margin-top: 30px;
    color: var(--bg-color);
    font-size: 14px;
}
.authorization__register-link > a {
    color: var(--bg-color);
    border-bottom: 1px solid var(--bg-color);
    font-weight: bold;
}
.authorization__register-link > a:hover {
    color: rgb(209, 79, 79);
    border-bottom: 1px solid rgb(209, 79, 79);
}
.auth-form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}
.auth-form__button > input {
    width: 280px;
    height: 40px;
    background-color: var(--bg-color);
    color: var(--background-color);
    border-radius: 10px;
    border: 1px solid var(--bg-color);
    font-size: 20px;
    cursor: pointer;
}
.auth-form__button > input:hover {
    background-color: var(--background-color);
    color: var(--bg-color);
    transition: .3s;
}
.errors {
    width: 100%;
}
.errors > ul {
    color: var(--bg-color);
    margin-top: 50px;
    padding: 0;
}
