body {
    background-color: var(--bg-color);
}
.title {
    text-align: center;
    color: var(--background-color);
}
p {
    text-align: center;
    color: var(--background-color);
}
.contacts {
    text-align: center;
    color: var(--background-color);
}
.wrapper {
    display: flex;
    justify-content: center;
}
.btn {
    margin: 20px 0 0 0;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--bg-color);
}
.btn:hover {
    background-color: var(--bg-color);
    color: var(--background-color);
    border: 1px solid var(--background-color);
}
input[type="email"] {
    width: 300px;
    height: 40px;
    background-color: var(--bg-color);
    color: var(--background-color);
    border: 1px solid var(--background-color);
    border-radius: 5px;
}