body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
a {
    text-decoration: none;
}
:root {
    --bg-color: #E5DCBE;
    --background-color: #443A38;
    --font-size-normal: 18px;
    --font-size-min: 14px;
    --bg-white-color: #fff;
}
.header {
    width: 100%;
    height: 100px;
    background-color: #443A38;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header__logo-item > a {
    text-decoration: none;
    color: var(--bg-color);
    font-size: 32px;
    font-weight: bold;
}

/* margin left and right 118px */
.header__logo, .header__icons {
    margin: 0 118px 0 118px;
}
.header__icons {
    width: 10%;
}
.header__icons-items {
    display: flex;
    justify-content: center;
}
.header__icons-items > a {
    margin: 0 30px 0 30px;
}
.header__icons-items > a > img {
    width: 40px;
    height: 40px;
}
input[type="search"] {
    width: 370px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--background-color);
    border: 2px solid var(--bg-white-color);
    color: var(--bg-white-color);
    background: url("/icons/search_icon.svg") no-repeat scroll 7px;
    background-size: 30px 30px;
    outline: none;
    padding-left: 50px;
}
input[type="search"]::placeholder {
    transform: translateX(0px);
    color: var(--bg-white-color);
}
/* input settings */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--bg-white-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.personal {
    width: 100%;
    height: calc(100vh - 130px);
}
.wrapper {
    display: flex;
    margin: 30px 118px 0 118px;
}
.navigation {
    width: 100%;
}
.navigation__photo-elem > img {
    width: 335px;
    height: 230px;
}
.navigation__menu-elem {
    padding: 10px 0 0 0;
}
.navigation__menu-elem > ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.navigation__menu-elem > ul > li {
    text-decoration: none;
    padding: 20px 0 0 0;
}
.navigation__menu-elem > ul > li > a {
    color: var(--bg-color);
}
 
.navigation__menu {
    width: 335px;
    height: 360px;
    border-radius: 5px;
    background-color: var(--background-color);
}
.about {
    width: 100%;
}
.about__account-title {
    padding: 11px 0 0 0;
    text-align: center;
    font-weight: bold;
}
.about__account-information> ul {
    list-style: none;
}
.about__account-information > ul > li > a {
    color: var(--background-color);
}
.notifications {
    width: 100%;
}
.notifications__wrapper {
    width: 100%;
    height: 380px;
    border-radius: 5px;
    background-color: var(--bg-color);
}
.notifications__wrapper-title {
    padding: 11px 0 0 0;
    text-align: center;
    color: var(--background-color);
}