body {
    background-color: var(--bg-color);
}
h1 {
    text-align: center;
    color: var(--background-color);
}
p {
    text-align: center;
    color: var(--background-color);
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input[type="password"] {
    margin: 10px 0 0 0;
    background-color: var(--bg-color);
    border: 1px solid var(--background-color);
    border-radius: 5px;
    width: 300px;
    height: 35px;
}
.btn {
    background-color: var(--background-color);
    color: var(--bg-color);
    border: none;
    height: 40px;
    border-radius: 5px;
    margin: 10px 0 0 0;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--bg-color);
    color: var(--background-color);
    border: 1px solid var(--background-color);
}