{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/normalize.css'  %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block styles %}
    {% endblock styles %}

    <title>Интернет-магазин Butterfly</title>
</head>
<body>

    <header class="header">
        <div class="header__logo">
            <div class="header__logo-item">
                <a href="{% url 'home' %}">
                    Butterfly
                </a>
            </div>
        </div>
        <div class="header__search">
            <div class="header__search-form">
                <form action="#" method="get">
                    <input type="search" name="search" id="searchFinds" placeholder="Найти">
                </form>
            </div>
        </div>
        <div class="header__icons">
            <div class="header__icons-items">
                <a href="#">
                    <img src="{% static 'images/icons/basket_icon.svg' %}" alt="basket" srcset="">
                </a>
                <a href="{% url 'users:redirect' %}">
                    <img src="{% static 'images/icons/personal_profile_icon.svg' %}" alt="personal account" srcset="">
                </a>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock content %}


    {% block javascript %}
    <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock javascript%}
</body>
</html>
