{% extends "base.html" %}
{% load static %}

    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/personal_account.css' %}">
    {% endblock styles %}

    {% block content %}
    <div class="personal">
        <div class="wrapper">
            <div class="navigation">
                <div class="navigation__photo">
                    <div class="navigation__photo-elem">
                        <img src="/images/personal_photo.jpg" alt="You'r photo">
                    </div>
                </div>
                <div class="navigation__menu">
                    <div class="navigation__menu-elem">
                        <ul>
                            <li><a href="#">Корзина</a></li>
                            <li><a href="#">Настройки</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="about">
                <div class="about__account">
                    <div class="about__account-title">
                        Информация о Вас
                    </div>
                    <div class="about__account-information">
                        <ul>
                            <li><a href="#">Ваше имя: {{username}}</a></li>
                            <li><a href="#">Ваша фамилия:</a></li>
                            <li><a href="#">Электронная почта:</a></li>
                            <li><a href="#">Ваш телефон:</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="notifications">
                <div class="notifications__wrapper">
                    <div class="notifications__wrapper-title">
                        Уведомления
                    </div>
                    <!-- здесь блок со список уведомлений -->
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}