<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/normalize.css">
    <link rel="stylesheet" href="../../static/css/items.css">
    <title>Интернет-магазин Butterfly | Косметика</title>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <div class="header__logo-item">
                <a href="#">
                    Butterfly
                </a>
            </div>
        </div>
        <div class="header__search">
            <div class="header__search-form">
                <form action="#" method="get">
                    <input type="search" name="search" id="searchFinds" placeholder="Найти">
                </form>
            </div>
        </div>
        <div class="header__icons">
            <div class="header__icons-items">
                <a href="#">
                    <img src="./icons/basket_icon.svg" alt="basket" srcset="">
                </a>
                <a href="#">
                    <img src="./icons/personal_profile_icon.svg" alt="personal account" srcset="">
                </a>
            </div>
        </div>
    </header>
    <nav class="navigation">
        <ul class="menu">
            <li><a href="#">ДЛЯ ЛИЦА</a></li>
            <li><a href="#">ДЛЯ ВОЛОС</a></li>
            <li><a href="#">ДЛЯ ТЕЛА</a></li>
            <li><a href="#">МАКИЯЖ</a></li>
            <li><a href="#">ПАРФЮМЕРИЯ</a></li>
            <li><a href="#">ИДЕИ ДЛЯ ПОДАРКОВ</a></li>
        </ul>
    </nav>
    <div class="content">
        <div class="wrapper">
            <div class="content__breadcrumbs">
                <div class="content__breadcrumbs-item">
                    Главная > Для лица
                </div>
            </div>
            <div class="content__title">
                <div class="content__title-category">
                    Средства для ухода за лицом
                </div>
            </div>
            <div class="content__products">
                <div class="content__products-found">
                    Найдено продуктов: 123
                </div>
            </div>
        </div>
        <div class="content__image">
            <div class="content__image-cosmetic">
                <img src="./images/bg_items_page.jpg" alt="Картинка косметики" srcset="">
            </div>
        </div>
    </div>
    <div class="sorted">
        <div class="sorted__wrapper">
            <div class="sorted__wrapper-item">
                <a href="#">
                    Сортировка
                </a>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="categories">
            <div class="categories__title">
                <div class="categories__title-item">
                    Фильтры
                </div>
            </div>
            <div class="categories__choice">
                <div class="categories__choice-filter">
                    <a href="#">Новинки</a>
                </div>
                <div class="categories__choice-filter">
                    <a href="#">Высокий рейтинг</a>
                </div>
            </div>
            <div class="range">
                <div class="range__price">
                    <div class="range__price-item">
                        <form action="#" method="get">
                            <div class="range__price-wrapper">
                                <label for="minPrice">от </label>
                                <input type="text" name="minPrice">
                                <label for="maxPrice"> до </label>
                                <input type="text" name="maxPrice">
                            </div>
                            <div class="range__price-show">
                                <input type="submit" value="Показать">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="products">
            <div class="products__wrapper">
                <div class="products__items">
                    <div class="products__items-picture">
                        <img src="/images/product_pictures.jpg" alt="" srcset="">
                    </div>
                    <div class="products__items-title">
                        <h3>Туалетная Вода  «Натюрэль», 75 мл</h3>
                    </div>
                    <div class="products__items-quantity">
                        <span>Спрей 75 мл</span>
                    </div>
                    <div class="products__items-price">
                        <span>500 руб</span>
                    </div>
                    <div class="products__items-link">
                        <a href="#">В КОРЗИНУ</a>
                    </div>
                </div>
                <div class="products__items">
                    <div class="products__items-picture">
                        <img src="/images/product_pictures.jpg" alt="" srcset="">
                    </div>
                    <div class="products__items-title">
                        <h3>Туалетная Вода  «Натюрэль», 75 мл</h3>
                    </div>
                    <div class="products__items-quantity">
                        <span>Спрей 75 мл</span>
                    </div>
                    <div class="products__items-price">
                        <span>500 руб</span>
                    </div>
                    <div class="products__items-link">
                        <a href="#">В КОРЗИНУ</a>
                    </div>
                </div>
                <div class="products__items">
                    <div class="products__items-picture">
                        <img src="/images/product_pictures.jpg" alt="" srcset="">
                    </div>
                    <div class="products__items-title">
                        <h3>Туалетная Вода  «Натюрэль», 75 мл</h3>
                    </div>
                    <div class="products__items-quantity">
                        <span>Спрей 75 мл</span>
                    </div>
                    <div class="products__items-price">
                        <span>500 руб</span>
                    </div>
                    <div class="products__items-link">
                        <a href="#">В КОРЗИНУ</a>
                    </div>
                </div>
                <div class="products__items">
                    <div class="products__items-picture">
                        <img src="/images/product_pictures.jpg" alt="" srcset="">
                    </div>
                    <div class="products__items-title">
                        <h3>Туалетная Вода  «Натюрэль», 75 мл</h3>
                    </div>
                    <div class="products__items-quantity">
                        <span>Спрей 75 мл</span>
                    </div>
                    <div class="products__items-price">
                        <span>500 руб</span>
                    </div>
                    <div class="products__items-link">
                        <a href="#">В КОРЗИНУ</a>
                    </div>
                </div>
                <div class="products__items">
                    <div class="products__items-picture">
                        <img src="/images/product_pictures.jpg" alt="" srcset="">
                    </div>
                    <div class="products__items-title">
                        <h3>Туалетная Вода  «Натюрэль», 75 мл</h3>
                    </div>
                    <div class="products__items-quantity">
                        <span>Спрей 75 мл</span>
                    </div>
                    <div class="products__items-price">
                        <span>500 руб</span>
                    </div>
                    <div class="products__items-link">
                        <a href="#">В КОРЗИНУ</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <style>
        
    </style>

</body>
</html>