{% extends "base.html" %}
{% load static %}

    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/normalize.css'  %}">
        <link rel="stylesheet" href="{% static 'css/products.css' %}">
        <link rel="stylesheet" href="{% static 'css/dropdown_menu.css' %}">
    {% endblock styles %}

    {% block content %}
    <div class="container">
    {% include 'include/dropdown_menu.html' %}
    <div class="content">
        <div class="box">
            <div class="sidebar__breadcrumbs">
                <div class="breadcrumbs-nav">
                    Главная > Для лица
                </div>
            </div>
            <div class="sidebar__title">
                <div class="sidebar__category">
                    Средства для ухода за лицом
                </div>
            </div>
            <div class="sidebar__products">
                <div class="sidebar__found">
                    Найдено продуктов: 123
                </div>
            </div>
        </div>
        <div class="sidebar-background">
            <img class="sidebar-background__image" src="{% static 'images/bg_items_page.jpg' %}" alt="Картинка косметики" srcset="">
        </div>
    </div>
    <div class="sorted">
        <a href="#">
            Сортировка
        </a>
    </div>
    <section class="section">
        <div class="categories">
            <div class="categories__title">
                Фильтры
            </div>
            <div class="categories__choice">
                <div class="categories-choice__filter">
                    <a href="#">Новинки</a>
                </div>
                <div class="categories-choice__filter">
                    <a href="#">Высокий рейтинг</a>
                </div>
            </div>
            <div class="range">
                <form class="range-price__form" action="#" method="get">
                    <div class="range-price">
                        <label for="minPrice">от </label>
                        <input type="text" name="minPrice">
                        <label for="maxPrice"> до </label>
                        <input type="text" name="maxPrice">
                    </div>
                    <div class="range-price__show">
                        <input class="range-price__input" type="submit" value="Показать">
                    </div>
                </form>
            </div>
        </div>
        <div class="products">
            <div class="wrap">
                <div class="product">
                    <div class="product__image">
                        <img src="{% static 'images/product_pictures.jpg' %}" alt="" srcset="">
                    </div>
                    <div class="products__title">
                        <h3>Туалетная Вода  «Натюрэль», 75 мл</h3>
                    </div>
                    <div class="products__quantity">
                        <span>Спрей 75 мл</span>
                    </div>
                    <div class="products__price">
                        <span>500 руб</span>
                    </div>
                    <div class="products__basket">
                        <a href="#">В КОРЗИНУ</a>
                    </div>
                </div>
                <div class="product">
                    <div class="product__image">
                        <img src="{% static 'images/product_pictures.jpg' %}" alt="" srcset="">
                    </div>
                    <div class="products__title">
                        <h3>Туалетная Вода  «Натюрэль», 75 мл</h3>
                    </div>
                    <div class="products__quantity">
                        <span>Спрей 75 мл</span>
                    </div>
                    <div class="products__price">
                        <span>500 руб</span>
                    </div>
                    <div class="products__basket">
                        <a href="#">В КОРЗИНУ</a>
                    </div>
                </div>
                <div class="product">
                    <div class="product__image">
                        <img src="{% static 'images/product_pictures.jpg' %}" alt="" srcset="">
                    </div>
                    <div class="products__title">
                        <h3>Туалетная Вода  «Натюрэль», 75 мл</h3>
                    </div>
                    <div class="products__quantity">
                        <span>Спрей 75 мл</span>
                    </div>
                    <div class="products__price">
                        <span>500 руб</span>
                    </div>
                    <div class="products__basket">
                        <a href="#">В КОРЗИНУ</a>
                    </div>
                </div>
                <div class="product">
                    <div class="product__image">
                        <img src="{% static 'images/product_pictures.jpg' %}" alt="" srcset="">
                    </div>
                    <div class="products__title">
                        <h3>Туалетная Вода  «Натюрэль», 75 мл</h3>
                    </div>
                    <div class="products__quantity">
                        <span>Спрей 75 мл</span>
                    </div>
                    <div class="products__price">
                        <span>500 руб</span>
                    </div>
                    <div class="products__basket">
                        <a href="#">В КОРЗИНУ</a>
                    </div>
                </div>
                <div class="product">
                    <div class="product__image">
                        <img src="{% static 'images/product_pictures.jpg' %}" alt="" srcset="">
                    </div>
                    <div class="products__title">
                        <h3>Туалетная Вода  «Натюрэль», 75 мл</h3>
                    </div>
                    <div class="products__quantity">
                        <span>Спрей 75 мл</span>
                    </div>
                    <div class="products__price">
                        <span>500 руб</span>
                    </div>
                    <div class="products__basket">
                        <a href="#">В КОРЗИНУ</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

    {% endblock content %}